@page "/reports"

@using Models;
@using DataAccess

<h1>
    Reports 
</h1>

<div>
    <a href="/reports/expenseObjectivesReport" 
       class="btn btn-success btn-sm" style="margin-right: 40px; margin-top: 10px;">Expense Objectives Report +
    </a>
</div>
<div>
    <a href="/reports/categorySpendingReport" 
       class="btn btn-success btn-sm" style="margin-right: 40px; margin-top: 10px;">Category Spending Report +
    </a>
</div>
<div>
    <a href="/reports/expensesReport" 
       class="btn btn-success btn-sm" style="margin-right: 40px; margin-top: 10px;">Expenses Report +
    </a>
</div>
<div>
    <a href="/reports/creditCardReport" 
       class="btn btn-success btn-sm" style="margin-right: 40px; margin-top: 10px;">Credit Card Report +
    </a>
</div>
<div>
    <a href="/reports/accountBalanceReport" 
       class="btn btn-success btn-sm" style="margin-right: 40px; margin-top: 10px;">Account Balance Report +
    </a>
</div>
<div>
    <a href="/reports/incomeOutcome"
       class="btn btn-success btn-sm" style="margin-right: 40px; margin-top: 10px;"> Incomes & Outcomes +
    </a>
</div>
