@page "/accounts"

<h1>
    Accounts 
</h1>

<div>
    <a href="/accounts/generalAccounts" 
       class="btn btn-success btn-sm" style="margin-right: 40px; margin-top: 10px;">General Accounts +
    </a>
</div>
<div>
    <a href="/accounts/creditCardAccounts" 
       class="btn btn-success btn-sm" style="margin-right: 40px; margin-top: 10px;">Credit Card Accounts +
    </a>
</div>
